// Navigation code here
nav {
    display: flex;
    width: 100%;
    background: #f4f4f4;
    height: 100px;
    font-family: 'Russo One', sans-serif;
    color: @header-font-color;
    font-size: 3.2rem;
}